@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --cor-principal: hsl(212, 55%, 31%);
    --cor-secundaria: #432a7c;
    --cor-destaque: lab(52.99% 84.24 -71.44);
    --cor-titulo: lab(35.64% 61.11 -51.57);
}

body {
    font-family: "Chakra Petch", sans-serif;
    color: var(--cor-principal);
  }

  h1,
h2,
h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}

.lead,
.btn-link {
    color: var(--cor-titulo);
    font-weight: 700;
  }

footer a,
.btn-link:hover {
    color: rgb(255, 0, 149);
  }
  
  footer a:hover {
    color: var(--cor-destaque);
  }